.notification-container {
    font-family: 'Lato', sans-serif;
    position: relative;
    display: inline-block;
}

.notification-dot {
    position: absolute;
    top: 0;
    right: 0;
    height: 12px;
    width: 12px;
    background-color: red;
    border-radius: 50%;
}

.utility-close {
    --slds-c-icon-color-foreground-default: white;
}

.noti-item {
    padding: 5px 10px;
    margin: 5px 0px;
    background: #f4f6f9;
    border-radius: 2px;
    display: flex;
    justify-content: left;
}


.heading-bold {
    font-weight: bolder;
}

.clear-button {
    border: .5px solid #0070d2;
    color: #0070d2;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    background-color: white;
    font-size: 0.9rem;
    transition: background-color 0.3s, transform 0.3s;
    margin: 0px 5px;
}

.clear-button:hover {
    background-color: #005fb2;
    color: white;
    transform: scale(1.05);
}


.view-button {
    background-color: #0070d2;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.3s, transform 0.3s;
    margin: 0px 5px;
}

.view-button:hover {
    background-color: #005fb2;
    transform: scale(1.05);
}